:root {
  --main-font: "Roboto", "Sans-Serif";
  --secondary-font: "Inter", "Sans-Serif";

  --main-cl: #ffffff;
  --secondary-cl: #2b2b2a;
  --active-cl: #e0ff00;
  --hero-btn1: #59f97c;
  --hero-btn-2: #edc407;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-cl);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-family: var(--main-font);
  color: var(--secondary-cl);
  position: relative;
  top: 0;
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.header__logo {
  margin-right: auto;
  cursor: pointer;
}

.logo {
  width: 60px;
  height: 35px;
}

.header__nav {
  margin-right: auto;
}

.nav__list {
  display: none;
}

.nav__link {
  text-decoration: none;
  color: var(--secondary-cl);
  cursor: pointer;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.nav__dropitems {
  display: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item {
  display: flex;
  align-items: center;
}

.header__list {
  font-size: 14px;
  line-height: 21px;
  margin-right: 26px;
}

.header__item--tel {
  display: none;
}

.header__link {
  color: var(--secondary-cl);
  text-decoration: none;
  cursor: pointer;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:focus{
  color: var(--active-cl);
}

.header__burgerBtn {
  border: none;
  fill: var(--secondary-cl);
  background-color: var(--main-cl);
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__burgerBtn:focus .burger{
  fill: var(--active-cl);
}

.hero {
  position: relative;
  color: var(--main-cl);
  background-color: var(--secondary-cl);
  background-image: url(../images/hero/shadowSmall.png),
    url(../images/hero/backgrSmall.png);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center 0;
  padding-top: 168px;
}

.hero__container {
  position: relative;
}

.hero__container::after {
  content: "";
  background-image: url(../images/hero/circle.svg);
  position: absolute;
  background-repeat: no-repeat;
  width: 90px;
  height: 120px;
  top: -168px;
  right: -26px;
  border: 26px;
  transform: rotate(1deg);
  fill: var(--active-cl);
  z-index: 10;
}

.hero__list {
  display: flex;
  margin-bottom: 90px;
}

.hero__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  border-radius: 30px;
  text-align: center;
  padding: 5px 20px;

  background-color: var(--hero-btn-2);
}

.hero__btn {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--secondary-cl);
}

.hero__item--first {
  margin-right: 15px;
  background-color: var(--hero-btn1);
  width: 103px;
  text-transform: uppercase;
}

.hero__title {
  font-family: var(--secondary-font);
  display: block;
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 26px;
}

.hero__title::after {
  content: "";
  background-image: url(../images/hero/checkBig.svg);
  position: absolute;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  top: 200px;
  left: 251px;
}

.hero__backTitle {
  display: block;
  width: 100%;
  position: absolute;
  left: -15px;
  top: 32px;
  color: #3e3e3c;
  font-weight: 900;
  font-size: 133px;
  line-height: 187px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  z-index: -1;
}

.hero__sublist {
  margin-bottom: 50px;
}

.hero__subitem {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 220px;
}

.hero__subitem:first-child {
  width: 180px;
  margin-bottom: 13px;
}

.hero__subtitle {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.hero__icon {
  stroke: var(--active-cl);
  fill: var(--secondary-cl);
}

.hero__thumb {
  display: flex;
  flex-direction: column-reverse;
}

.hero__propsList {
  display: flex;
  flex-wrap: wrap;
  gap: 13px 47px;
  margin-bottom: 79px;
}

.hero__propsList::after {
  content: "";
  background-image: url(../images/hero/checkSmall.svg);
  position: absolute;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  top: 560px;
  left: 0;
}

.hero__propItem {
  display: block;
  position: relative;
  padding-left: 15px;
}

.hero__propItem::before {
  content: "";

  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: var(--active-cl);
}

.hero__propText {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.hero__propText--bottom {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.hero__price {
  position: relative;
}

.hero__promo {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 13px;
}

.hero__promo--price {
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
}

.hero__promo--altPrice {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  position: absolute;
  left: 132px;
  top: -29px;
  color: #b7b7b7;
  text-decoration: line-through;
}

.hero__promo--value {
  position: absolute;
  left: 260px;
}

.hero__sign {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 21px 84px;
  border-radius: 15px;
  background-color: var(--active-cl);
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-cl);
  text-transform: uppercase;
  margin-bottom: 8px;
  cursor: pointer;
}

.hero__sign:hover,
.hero__sign:focus{
  background-color: var(--hero-btn1);
  scale: 1.1;
}

.hero__subtext {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.hero__listThumb::after {
  content: "";
  background-image: url(../images/hero/donut.svg);
  position: absolute;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  top: 154px;
  right: -47px;
}

.hero__subtext--bold {
  font-weight: 700;
}

.specifications__header {
  font-family: var(--secondary-font);
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  color: var(--secondary-cl);
}

.specifications__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
}

.specifications__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.specifications__text {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 140px;

  color: var(--secondary-cl);
}

.specifications__icon {
  fill: var(--secondary-cl);
}

.specifications__text--changed {
  display: none;
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section {
    max-width: 1920px;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 1920px;
  }

  .header__logo {
    margin-right: 245px;
  }

  .logo {
    width: 110px;
    height: 65px;
  }

  .nav__list {
    display: flex;
    gap: 53px;
    margin-right: auto;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-cl);
  }

  .nav__link:hover,
  .nav__link:focus {
    color: var(--active-cl);
  }

  .nav__droptext {
    text-decoration: none;
    color: inherit;
  }

  .nav__droptext:focus {
    color: var(--active-cl);
  }

  .nav__item--dropdown {
    position: relative;
  }

  .nav__droptext:focus + .nav__dropitems {
    display: block;
    position: absolute;
    top: 100%;
  }

  .drop__link {
    text-decoration: none;
    color: var(--active-cl);
  }

  .nav__icon {
    fill: var(--secondary-cl);
    transition-property: fill, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__droptext:hover .nav__icon,
  .nav__droptext:focus .nav__icon {
    fill: var(--active-cl);
    transform: rotate(180deg);
  }

  .header__list {
    display: flex;
    align-items: center;
    gap: 142px;
  }

  .header__item--tel {
    display: block;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
  }

  .header__link--register {
    color: var(--main-cl);
  }

  .header__link:hover,
  .header__link:focus {
    color: var(--active-cl);
  }

  .header__link--register {
    display: block;
    text-align: center;

    font-size: 16px;
    line-height: 24px;
    color: var(--main-cl);
    background-color: var(--secondary-cl);
    border-radius: 15px;
    padding: 15px 41px;
    transition-property: box-shadow, color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__link--register:hover,
  .header__link--register:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
      background-color: var(--hero-btn1);
      color: var(--secondary-cl);
  }

  .header__burgerBtn {
    display: none;
  }

  .hero {
    padding-top: 102px;
    padding-bottom: 99px;
    background-image: url(../images/hero/shadowLarge.png),
      url(../images/hero/backgrLarge.png);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: right 0;
  }

  .hero__container {
    padding-left: 369px;
  }

  .hero__container::after {
    content: "";
    background-image: url(../images/hero/Vector8.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 120px;
    height: 160px;
    top: -102px;
    right: -20px;
    z-index: 10;
  }

  .hero__list {
    margin-bottom: 66px;
  }

  .hero__backTitle {
    left: 360px;
    top: 11px;
    font-family: Roboto;
    font-size: 130px;
    font-weight: 900;
    line-height: 182px;
    letter-spacing: 0.15em;
  }

  .hero__title {
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0em;
    margin-bottom: 30px;
  }

  .hero__sublist {
    margin-bottom: 104px;
  }

  .hero__subitem {
    width: 100%;
  }
  .hero__subitem:first-child {
    width: 100%;
  }

  .hero__subtitle {
    font-size: 18px;
    line-height: 27px;
  }
  .hero__thumb:first-child {
    margin-right: 43px;
  }
  .hero__thumb {
    flex-direction: row;
    align-items: flex-end;
    gap: 49px;
  }

  .hero__promo {
    margin-bottom: 29px;
  }

  .hero__title::after {
    content: "";
    background-image: url(../images/hero/Vector6.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    top: -102px;
    left: 260px;
  }

  .hero__listThumb::after {
    content: "";
    background-image: url(../images/hero/Vector7.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: auto;
    height: 130px;
    top: 150px;
    left: -365px;
  }

  .hero__propsList::after {
    display: none;
  }

  .hero__sign {
    width: 275px;
    padding: 20px 50px;
  }
  
  .hero__propsList {
    margin-bottom: 37px;
  }

  .specifications {
    padding-top: 160px;
    padding-bottom: 146px;
  }
  .specifications__header {
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 60px;
  }

  .specifications__list {
    gap: 60px;
    max-width: 721px;
    margin: 0 auto;
  }
  .specifications__item {
    min-width: 200px;
  }

  .specifications__item--mobile {
    display: none;
  }
  .specifications__text {
    width: 200px;
  }

  .specifications__item--changed {
    position: relative;
  }

  .specifications__text--changed {
    display: block;
    position: absolute;
    bottom: 0;
  }

  .specifications__text--old {
    display: none;
  }
}
