:root {
  /*fonts*/
  --main-font: "Roboto", "Sans-Serif";
  --secondary-font: "Inter", "Sans-Serif";

  /*colors:*/
  --main-cl: #ffffff;
  --secondary-cl: #2b2b2a;

  /*mesh properties*/
  --items: 3;
  --indent: 30px;

  /* animation */
  /* --anim: transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-cl);
}

.section{
    padding-top: 60px;
    padding-bottom: 60px;
}

.container {
  width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1920px) {
    width: 1920px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  font-family: var(--main-font);
  color: var(--secondary-cl);
  position: relative;
  top: 0;
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.header__logo {
  margin-right: auto;
}

.logo {
  width: 60px;
  height: 35px;
}

.nav__list {
  display: none;
}

.header__list {
  font-size: 14px;
  line-height: 21px;
  margin-right: 26px;
}

.header__item--tel {
  display: none;
}

.header__burgerBtn {
  border: none;
  fill: var(--secondary-cl);
  background-color: var(--main-cl);
}

.hero {
  position: relative;
  left: 0;
  color: var(--main-cl);
  background-color: var(--secondary-cl);
  background-image: url(../images/hero/shadowSmall.png),
    url(../images/hero/backgrSmall.png);
  background-repeat: no-repeat;
  background-size: auto auto;
  z-index: -10;
  padding-top: 168px;
}

.hero::after{
    content: "";
    background-image: url(../images/hero/circle.svg);
    position: absolute;
    background-repeat: no-repeat;
   width: 89.7412402470557px;
height: 117.85386499069708px;
top: 0;
right: -33px;
border: 26px;
transform: rotate(1deg);
fill: #e0ff00;

    z-index: 10;
}

.hero__list {
  display: flex;
  margin-bottom: 90px;
}

.hero__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  border-radius: 30px;
  text-align: center;
  padding: 5px 20px;

  background-color: #edc407;
}

.hero__btn {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--secondary-cl);
}

.hero__item--first {
  margin-right: 15px;
  background-color: #59f97c;
  width: 103px;
  text-transform: uppercase;
}

.hero__title {
  font-family: var(--secondary-font);
  display: block;
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 26px;
}

.hero__title::after{
  content: "";
    background-image: url(../images/hero/checkBig.svg);
    position: absolute;
    background-repeat: no-repeat;
   width: 80px;
height: 80px;
top: 368px;
left: 251px;
}

.hero__backTitle {
  display: block;
  width: 100%;
  position: absolute;
  left: -5px;
  top: 180px;
  color: #3e3e3c;
  font-weight: 900;
  font-size: 133px;
  line-height: 187px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  z-index: -1;
}

.hero__sublist {
  margin-bottom: 50px;
}

.hero__subitem {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 220px;
}

.hero__subitem:first-child {
  width: 180px;
  margin-bottom: 13px;
}

.hero__subtitle {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.hero__icon {
  stroke: #e0ff00;
  fill: var(--secondary-cl);
}

.hero__thumb {
  display: flex;
  flex-direction: column-reverse;
}

.hero__propsList {
  display: flex;
  flex-wrap: wrap;
  gap: 13px 47px;
  margin-bottom: 79px;
}

.hero__propsList::after{
content: "";
    background-image: url(../images/hero/checkSmall.svg);
    position: absolute;
    background-repeat: no-repeat;
   width: 80px;
height: 80px;
top: 728px;
left: 0;
}

.hero__propItem {
  display: block;
  position: relative;
  padding-left: 15px;
}

.hero__propItem::before {
  content: "";

  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: #e0ff00;
}

.hero__propText {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.hero__propText--bottom {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.hero__price {
  position: relative;
}

.hero__promo {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 13px;
}

.hero__promo--price {
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
}

.hero__promo--altPrice {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  position: absolute;
  left: 132px;
  top: -29px;
  color: #b7b7b7;
  text-decoration: line-through;
}

.hero__promo--value{
  position: absolute;
  left: 260px;
}

.hero__sign {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 21px 84px;
  border-radius: 15px;
  background-color: #e0ff00;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--secondary-cl);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.hero__subtext {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.hero__listThumb::after{
  content: "";
    background-image: url(../images/hero/donut.svg);
    position: absolute;
    background-repeat: no-repeat;
   width: 80px;
height: 80px;
top: 154px;
right: -45px;
}

.hero__subtext--bold{
font-weight: 700;
}

.specifications__header{
font-family: var(--secondary-font);
font-size: 30px;
font-weight: 900;
line-height: 36px;
text-align: center;
color: var(--secondary-cl);
}

.specifications__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
}

.specifications__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.specifications__text{
    text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
width: 140px;

color: var(--secondary-cl);
}

.specifications__icon{
    fill: var(--secondary-cl);
}